# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/


STEVE_Simulator/STEVE_Simulation_faultInfo.xml

STEVE_Simulator/RocketSimData.mat
STEVE_Simulator/blender_animation/RocketAnimation.blend1
STEVE_Simulator/rocket_trajectory_100fps.csv
