# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/


STEVE_Simulator/STEVE_Simulation_faultInfo.xml

STEVE_Simulator/RocketSimData.mat
STEVE_Simulator/rocket_trajectory_100fps.csv
STEVE_Simulator/data/results/tilt_pitch_rate_sweep_results.mat
STEVE_Simulator/data/results/pitch_rate_sweep_results.mat
STEVE_Simulator/output/figures/fig_counter.mat

# Ignore Blender backup files
*.blend1

# Ignore large texture files removed from history
STEVE_Simulator/src/visualization/blender_animation/GOOGLE_SAT_WM.tif
